src/components/associate-useful/Off-BoardingCheckList/*.jsx
src/components/associate-useful/Recording/*.tsx

src/components/auth/*.tsx
src/components/auth/*.ts

src/components/comment/*.tsx
src/components/comment/*.ts

src/components/common/utils/*.ts
src/components/common/utils/*.tsx

src/components/common/*.ts
src/components/common/*.js
src/components/common/*.jsx

src/components/constants/*.ts
src/components/constants/*.tsx

src/components/core/*.js

src/components/core/Dropdown/*.tsx

src/components/core/InputText/*.tsx
src/components/core/InputText/*.ts

src/components/document/*.tsx
src/components/document/*.ts

src/components/footer/*.js

src/components/header/*.js

src/components/home/*.js

src/components/user/*.tsx
src/components/user/*.ts

src/*.tsx














